@CHARSET "UTF-8";

.content {
	width: 800px;
	margin: auto;
}

.header {
	width: auto;
	background-color: #ffffff;
	height: 164px;
}
.main-header {
	width: auto;
	background-color: #34d0ba;
	height: 130px;
}
.main-header h1 {
	font: 30px Comic Sans MS;
    left: 517px;
    position: relative;
    top: 56px;
}
.buttons-header {
	width: auto;
	background-color: #ffffff;
	height: 34px;
}
/*.complete, .complete2, .complete3, .complete4 {
	height: 33px;
	top: 2px;
	display: inline-block;
	position: relative;
}
.complete {
	width: 250px;
	background-color: #052c5e;
}
.complete2 {
	width: 100px;
	background-color: #052c5e;
}
.complete3 {
	width: 75px;
	background-color: #052c5e;
}
.complete4 {
	width: 40px;
	background-color: #052c5e;
}*/
.body {
	width: auto;
	margin-top: 10px;
	border-radius: 5px 5px 0 0;
	background-color: #ffffff;/*#d8d8d8;*/
}

/*.header a {
	right: 0;
	background-color: #052c5e;
	color: #6a92d4;
	text-decoration: none;
	width: 100px;
	height: 30px;
	top: 2px;
	margin-right: 2px;
	position: relative;
	display: inline-block;
	text-align: center;
	padding-top:3px;
}*/


.header a:hover {
	background-color: #6a92d4;
	color: #052c5e;
}

.generalInformation {
	width: 100%;
	background-color: white;
	border-collapse: collapse;
	position: relative;
	top: 20px;
	border-radius: 5px 5px 0 0;
}

.generalInformation td {
	text-align: center;
}

.talent, .hiddenInfo {
	display: none
}

.generalInformation td {
	cursor: pointer;
}

.generalInformation th {
	padding-top: 10px;
	padding-bottom: 5px;
}

.selected {
	border-width: 2px;
}

.white {
	background-color: #E4E4EC;
}

.dark {
	background-color: #C8C8DA;
}

li {
	float: left;
	display: block;
	height: 31px;
	margin-right: 3px;
	margin-top: 3px;
	
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
}
li a {
	overflow: hidden;
	display: block;
	padding: 6px 18px;
	text-decoration: none;
	background-color: red;
}
li div {
	display: block;
	width: 40px;
	background-color: red;
	height: inherit;
}